In [2]:
import json
import pandas as pd
from datetime import datetime
import requests
import requests.auth
import glob

In [ ]:
df = pd.read_csv('..\\Taxi\\yellow_tripdata_2016-02.csv')

In [ ]:
df.head()

In [ ]:
#df['dropoff_latitude'] = df1['dropoff_latitude'].apply(lambda x: format(float(x), '.3f'))

In [ ]:
len(df.index)

In [ ]:
df.dropoff_latitude.unique()

In [ ]:
len(df.pickup_latitude.unique())

In [ ]:
df['travel_date'] = df['tpep_pickup_datetime'].apply(lambda x: datetime.strptime(x , '%Y-%m-%d %H:%M:%S').date())

In [ ]:
df['travel_date'].unique()

In [ ]:
len(df['travel_date'].unique())

In [ ]:
df.VendorID.unique()

In [1]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [2]:
location = geolocator.reverse("40.764, -73.954")

In [3]:
location.raw

{'address': {'city': 'NYC',
  'country': 'United States of America',
  'country_code': 'us',
  'county': 'New York County',
  'house_number': '520',
  'neighbourhood': 'Lenox Hill',
  'postcode': '10065',
  'road': 'East 70th Street',
  'state': 'New York',
  'suburb': 'Manhattan'},
 'boundingbox': ['40.7641212', '40.7653244', '-73.954588', '-73.9533205'],
 'display_name': '520, East 70th Street, Lenox Hill, Manhattan, New York County, NYC, New York, 10065, United States of America',
 'lat': '40.7646802',
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright',
 'lon': '-73.9539808435818',
 'osm_id': '266866310',
 'osm_type': 'way',
 'place_id': '126279404'}

In [4]:
location.raw['address']['suburb']

'Manhattan'

In [5]:
adderss = location.address
print(location.address)

520, East 70th Street, Lenox Hill, Manhattan, New York County, NYC, New York, 10065, United States of America

In [6]:
borough = []
loc = ['40.764141, -73.954430', '40.78993085, -73.9496098723']
for l in loc:
    sub = str(geolocator.reverse(l))
    borough.append(sub.split(', ')[2])
borough

['Lenox Hill', 'East Harlem']

In [9]:
df1 = pd.read_csv('Taxi/sample.csv')

In [10]:
df1['pickup_address'] = df1.apply(lambda row: geolocator.reverse(str(row['pickup_latitude'])+','+str(row['pickup_longitude'])).address, axis=1)
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_address
0,2,1/1/2016 0:00,1/1/2016 0:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80,"Citibank, 52, East 14th Street, East Village, ..."
1,2,1/1/2016 0:00,1/1/2016 0:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.00,0.00,0.3,19.30,"215, Avenue A, Alphabet City, Manhattan, New Y..."
2,2,1/1/2016 0:00,1/1/2016 0:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.00,0.00,0.3,34.30,"211, 3rd Avenue, Gowanus, BK, Kings County, NY..."
3,2,1/1/2016 0:00,1/1/2016 0:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.00,0.00,0.3,17.30,"123 1/2, Chrystie Street, Chinatown, Manhattan..."
4,2,1/1/2016 0:00,1/1/2016 0:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80,"Neue Galerie New York, 1048, 5th Avenue, Yorkv..."
5,2,1/1/2016 0:00,1/1/2016 0:18,2,5.52,-73.980118,40.743050,1,N,-73.913490,40.763142,2,19.0,0.5,0.5,0.00,0.00,0.3,20.30,"428, 3rd Avenue, Tudor City, Manhattan, New Yo..."
6,2,1/1/2016 0:00,1/1/2016 0:26,2,7.45,-73.994057,40.719990,1,N,-73.966362,40.789871,2,26.0,0.5,0.5,0.00,0.00,0.3,27.30,"171, Bowery, Little Italy, Manhattan, New York..."
7,1,1/1/2016 0:00,1/1/2016 0:11,1,1.20,-73.979424,40.744614,1,N,-73.992035,40.753944,2,9.0,0.5,0.5,0.00,0.00,0.3,10.30,"161, East 32nd Street, Murray Hill, Manhattan,..."
8,1,1/1/2016 0:00,1/1/2016 0:11,1,6.00,-73.947151,40.791046,1,N,-73.920769,40.865578,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30,"Hope Community's Modesto Tin Flores Garden, ..."
9,2,1/1/2016 0:00,1/1/2016 0:11,1,3.21,-73.998344,40.723896,1,N,-73.995850,40.688400,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80,"Singer Building, Mercer Street, SoHo, Manhatta..."
10,2,1/2/2016 13:12,1/2/2016 13:25,2,2.63,-73.975410,40.757641,1,N,-74.002060,40.739712,1,11.5,0.0,0.5,2.46,0.00,0.3,14.76,"ITT-American Building, 437, Madison Avenue, Di..."
11,2,1/2/2016 13:12,1/2/2016 13:15,2,0.52,-73.984146,40.732082,1,N,-73.991043,40.733868,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80,"315, East 14th Street, East Village, Manhattan..."
12,2,1/2/2016 13:12,1/2/2016 13:26,2,1.82,-73.974968,40.753448,1,N,-73.983017,40.771774,1,10.5,0.0,0.5,2.26,0.00,0.3,13.56,"450 Lexington Avenue, 450, Lexington Avenue, M..."
13,2,1/2/2016 13:12,1/2/2016 13:21,1,1.06,-73.971458,40.756252,1,N,-73.985123,40.763428,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80,"The Kimberly, 145, East 50th Street, Diamond D..."
14,1,1/2/2016 13:12,1/2/2016 13:22,1,1.90,-73.988556,40.748959,1,N,-73.982521,40.771427,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80,"Manhattan Mall, 100, West 33rd Street, Koreato..."
15,1,1/2/2016 13:12,1/2/2016 13:21,1,1.10,-73.987381,40.768368,1,N,-73.987221,40.758678,1,7.5,0.0,0.5,1.70,0.00,0.3,10.00,"Holiday Inn Hotel New York City 57th St., West..."
16,1,1/2/2016 13:12,1/2/2016 13:21,2,1.00,-73.981750,40.758690,1,N,-73.991600,40.749508,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80,"News Corp. Building, 1211, 6th Avenue, Diamond..."
17,2,1/2/2016 13:12,1/2/2016 13:20,1,1.35,-73.954308,40.778099,1,N,-73.973953,40.784019,1,8.0,0.0,0.5,1.00,0.00,0.3,9.80,"1505, 3rd Avenue, Yorkville, Manhattan, New Yo..."
18,2,1/2/2016 13:12,1/2/2016 13:24,1,3.19,-73.999168,40.726471,1,N,-73.996124,40.690838,1,12.0,0.0,0.5,2.56,0.00,0.3,15.36,"158, Wooster Street, SoHo, Manhattan, New York..."
19,2,1/2/2016 13:12,1/2/2016 13:24,1,2.85,-74.015106,40.704739,1,N,-74.007706,40.742737,2,12.0,0.0,0.5,0.00,0.00,0.3,12.80,"tunnel ventilation building, Hugh L. Carey Tun..."
20,2,1/2/2016 13:12,1/2/2016 13:34,1,12.94,-73.874702,40.774071,1,N,-73.885620,40.878830,2,35.5,0.0,0.5,0.00,5.54,0.3,41.84,"Famous Famiglia, Departures, North Beach, Quee..."

In [11]:
df1['pickup_longitude'] = df1['pickup_longitude'].apply(lambda x: format(float(x), '.3f'))

In [12]:
df1['pickup_latitude'] = df1['pickup_latitude'].apply(lambda x: format(float(x), '.3f'))

In [13]:
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_address
0,2,1/1/2016 0:00,1/1/2016 0:00,2,1.10,-73.990,40.735,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80,"Citibank, 52, East 14th Street, East Village, ..."
1,2,1/1/2016 0:00,1/1/2016 0:00,5,4.90,-73.981,40.730,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.00,0.00,0.3,19.30,"215, Avenue A, Alphabet City, Manhattan, New Y..."
2,2,1/1/2016 0:00,1/1/2016 0:00,1,10.54,-73.985,40.680,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.00,0.00,0.3,34.30,"211, 3rd Avenue, Gowanus, BK, Kings County, NY..."
3,2,1/1/2016 0:00,1/1/2016 0:00,1,4.75,-73.993,40.719,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.00,0.00,0.3,17.30,"123 1/2, Chrystie Street, Chinatown, Manhattan..."
4,2,1/1/2016 0:00,1/1/2016 0:00,3,1.76,-73.961,40.781,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80,"Neue Galerie New York, 1048, 5th Avenue, Yorkv..."
5,2,1/1/2016 0:00,1/1/2016 0:18,2,5.52,-73.980,40.743,1,N,-73.913490,40.763142,2,19.0,0.5,0.5,0.00,0.00,0.3,20.30,"428, 3rd Avenue, Tudor City, Manhattan, New Yo..."
6,2,1/1/2016 0:00,1/1/2016 0:26,2,7.45,-73.994,40.720,1,N,-73.966362,40.789871,2,26.0,0.5,0.5,0.00,0.00,0.3,27.30,"171, Bowery, Little Italy, Manhattan, New York..."
7,1,1/1/2016 0:00,1/1/2016 0:11,1,1.20,-73.979,40.745,1,N,-73.992035,40.753944,2,9.0,0.5,0.5,0.00,0.00,0.3,10.30,"161, East 32nd Street, Murray Hill, Manhattan,..."
8,1,1/1/2016 0:00,1/1/2016 0:11,1,6.00,-73.947,40.791,1,N,-73.920769,40.865578,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30,"Hope Community's Modesto Tin Flores Garden, ..."
9,2,1/1/2016 0:00,1/1/2016 0:11,1,3.21,-73.998,40.724,1,N,-73.995850,40.688400,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80,"Singer Building, Mercer Street, SoHo, Manhatta..."
10,2,1/2/2016 13:12,1/2/2016 13:25,2,2.63,-73.975,40.758,1,N,-74.002060,40.739712,1,11.5,0.0,0.5,2.46,0.00,0.3,14.76,"ITT-American Building, 437, Madison Avenue, Di..."
11,2,1/2/2016 13:12,1/2/2016 13:15,2,0.52,-73.984,40.732,1,N,-73.991043,40.733868,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80,"315, East 14th Street, East Village, Manhattan..."
12,2,1/2/2016 13:12,1/2/2016 13:26,2,1.82,-73.975,40.753,1,N,-73.983017,40.771774,1,10.5,0.0,0.5,2.26,0.00,0.3,13.56,"450 Lexington Avenue, 450, Lexington Avenue, M..."
13,2,1/2/2016 13:12,1/2/2016 13:21,1,1.06,-73.971,40.756,1,N,-73.985123,40.763428,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80,"The Kimberly, 145, East 50th Street, Diamond D..."
14,1,1/2/2016 13:12,1/2/2016 13:22,1,1.90,-73.989,40.749,1,N,-73.982521,40.771427,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80,"Manhattan Mall, 100, West 33rd Street, Koreato..."
15,1,1/2/2016 13:12,1/2/2016 13:21,1,1.10,-73.987,40.768,1,N,-73.987221,40.758678,1,7.5,0.0,0.5,1.70,0.00,0.3,10.00,"Holiday Inn Hotel New York City 57th St., West..."
16,1,1/2/2016 13:12,1/2/2016 13:21,2,1.00,-73.982,40.759,1,N,-73.991600,40.749508,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80,"News Corp. Building, 1211, 6th Avenue, Diamond..."
17,2,1/2/2016 13:12,1/2/2016 13:20,1,1.35,-73.954,40.778,1,N,-73.973953,40.784019,1,8.0,0.0,0.5,1.00,0.00,0.3,9.80,"1505, 3rd Avenue, Yorkville, Manhattan, New Yo..."
18,2,1/2/2016 13:12,1/2/2016 13:24,1,3.19,-73.999,40.726,1,N,-73.996124,40.690838,1,12.0,0.0,0.5,2.56,0.00,0.3,15.36,"158, Wooster Street, SoHo, Manhattan, New York..."
19,2,1/2/2016 13:12,1/2/2016 13:24,1,2.85,-74.015,40.705,1,N,-74.007706,40.742737,2,12.0,0.0,0.5,0.00,0.00,0.3,12.80,"tunnel ventilation building, Hugh L. Carey Tun..."
20,2,1/2/2016 13:12,1/2/2016 13:34,1,12.94,-73.875,40.774,1,N,-73.885620,40.878830,2,35.5,0.0,0.5,0.00,5.54,0.3,41.84,"Famous Famiglia, Departures, North Beach, Quee..."

In [14]:
df1.pickup_longitude.unique()

array(['-73.990', '-73.981', '-73.985', '-73.993', '-73.961', '-73.980',
       '-73.994', '-73.979', '-73.947', '-73.998', '-73.975', '-73.984',
       '-73.971', '-73.989', '-73.987', '-73.982', '-73.954', '-73.999',
       '-74.015', '-73.875'], dtype=object)

In [15]:
url = "https://api.lyft.com/oauth/token"

CLIENT_ID = 'xLAmv1MmKerS'
CLIENT_SECRET = 'VzZHSkFTrZQQFJuGROA3nzqVSJTgbmvW'

client_auth = requests.auth.HTTPBasicAuth(CLIENT_ID , CLIENT_SECRET)

hdrs = {'Content-Type': 'application/json', 'grant_type':'client_credentials', 'scope': 'public'}

r = requests.post(url, auth=client_auth,data= hdrs)
print(r.url)
r.json()

https://api.lyft.com/oauth/token

{'access_token': 'gAAAAABYROQwAhcIaMTp8Vc8jKeD8isKRCUclT1y0Si0oyEtpDmGcciZ_zvlFLWC-Y8uKks9yYcz-3rz5o89uQ_ZufOka-2C11sV3_HDk8qqin8ssQRdDHfXe3E4ACihjcK_Sf3C1wHVr2DljXf8H98VZ5FJjZEhd4nuSa_UNBx4NIa3ShqPMn4ISEzJ3qRnLVLozlR-YSc-UaEPN3IRT-0QliQjCB4X0Q==',
 'expires_in': 86400,
 'scope': 'public',
 'token_type': 'Bearer'}

In [16]:
access_token = r.json()['access_token']
access_token

'gAAAAABYROQwAhcIaMTp8Vc8jKeD8isKRCUclT1y0Si0oyEtpDmGcciZ_zvlFLWC-Y8uKks9yYcz-3rz5o89uQ_ZufOka-2C11sV3_HDk8qqin8ssQRdDHfXe3E4ACihjcK_Sf3C1wHVr2DljXf8H98VZ5FJjZEhd4nuSa_UNBx4NIa3ShqPMn4ISEzJ3qRnLVLozlR-YSc-UaEPN3IRT-0QliQjCB4X0Q=='

In [17]:
r.status_code == 200

True

In [18]:
ride_estimate_url = "https://api.lyft.com/v1/cost"
pickup_longitude = "-73.981"
pickup_latitude = "40.730"

dropoff_longitude = "-73.988586"
dropoff_latitude = "40.758839"

payload = {'start_lat':pickup_latitude, 'start_lng': pickup_longitude,
           'end_lat': dropoff_latitude, 'end_lng': dropoff_longitude}

hdrs = {'Authorization': 'bearer '+access_token}

ride_estimate = requests.get(ride_estimate_url, params=payload, headers = hdrs)
ride_estimate

In [19]:
#print(ride_estimate.json())
print(json.dumps(ride_estimate.json(), indent=2))

{
  "cost_estimates": [
    {
      "primetime_percentage": "0%",
      "can_request_ride": true,
      "estimated_duration_seconds": 1066,
      "ride_type": "lyft_plus",
      "display_name": "Lyft Plus",
      "primetime_confirmation_token": null,
      "is_valid_estimate": true,
      "estimated_cost_cents_max": 2700,
      "currency": "USD",
      "estimated_distance_miles": 3.09,
      "estimated_cost_cents_min": 1700
    },
    {
      "primetime_percentage": "0%",
      "can_request_ride": true,
      "estimated_duration_seconds": 1066,
      "ride_type": "lyft_line",
      "display_name": "Lyft Line",
      "primetime_confirmation_token": null,
      "is_valid_estimate": true,
      "estimated_cost_cents_max": 1069,
      "currency": "USD",
      "estimated_distance_miles": 3.09,
      "estimated_cost_cents_min": 1069
    },
    {
      "primetime_percentage": "0%",
      "can_request_ride": true,
      "estimated_duration_seconds": 1066,
      "ride_type": "lyft",
      "display_name": "Lyft",
      "primetime_confirmation_token": null,
      "is_valid_estimate": true,
      "estimated_cost_cents_max": 1900,
      "currency": "USD",
      "estimated_distance_miles": 3.09,
      "estimated_cost_cents_min": 1000
    }
  ]
}

In [20]:
data = ride_estimate.json()

In [21]:
data['cost_estimates']

[{'can_request_ride': True,
  'currency': 'USD',
  'display_name': 'Lyft Plus',
  'estimated_cost_cents_max': 2700,
  'estimated_cost_cents_min': 1700,
  'estimated_distance_miles': 3.09,
  'estimated_duration_seconds': 1066,
  'is_valid_estimate': True,
  'primetime_confirmation_token': None,
  'primetime_percentage': '0%',
  'ride_type': 'lyft_plus'},
 {'can_request_ride': True,
  'currency': 'USD',
  'display_name': 'Lyft Line',
  'estimated_cost_cents_max': 1069,
  'estimated_cost_cents_min': 1069,
  'estimated_distance_miles': 3.09,
  'estimated_duration_seconds': 1066,
  'is_valid_estimate': True,
  'primetime_confirmation_token': None,
  'primetime_percentage': '0%',
  'ride_type': 'lyft_line'},
 {'can_request_ride': True,
  'currency': 'USD',
  'display_name': 'Lyft',
  'estimated_cost_cents_max': 1900,
  'estimated_cost_cents_min': 1000,
  'estimated_distance_miles': 3.09,
  'estimated_duration_seconds': 1066,
  'is_valid_estimate': True,
  'primetime_confirmation_token': None,
  'primetime_percentage': '0%',
  'ride_type': 'lyft'}]

In [24]:
dict = {}
estimates = data['cost_estimates']
sr = pd.Series()
for i in range(0,len(estimates)):
    print(estimates[i]['display_name'])
    print(estimates[i]['estimated_cost_cents_max'])
    print(estimates[i]['estimated_cost_cents_min'])
    dict[estimates[i]['ride_type']+'_cost'] = (estimates[i]['estimated_cost_cents_max']+ estimates[i]['estimated_cost_cents_min'])/200
print(dict)

Lyft Plus
2700
1700
Lyft Line
1069
1069
Lyft
1900
1000
{'lyft_cost': 14.5, 'lyft_plus_cost': 22.0, 'lyft_line_cost': 10.69}

In [28]:
s = pd.Series(data=dict, index=['lyft_cost','lyft_plus_cost', 'lyft_line_cost'])
s

lyft_cost         14.50
lyft_plus_cost    22.00
lyft_line_cost    10.69
dtype: float64

In [7]:
fileNames = glob.glob('Test\\*.csv')

In [9]:
len(fileNames)

0

In [ ]:
df['float_rating'] = df['rating'].apply(lambda x: float(x))